global:
  trackers:
    seed_buffer_hours: 1 # extra seedtime on top of what is required
    ratio_buffer: 0.5 # extra ratio on top of what is required
  clients:
    required_labels:
      - automated
clients:
  rtorrent_1:
    type: rtorrent
    url: https://my.endpoint.com/scgi.php
    storage_cap_gb: 1000
    up_rate_cap_mbps: 900 # in Mbps
    down_rate_cap_mbps: 900 # in Mbps
    up_rate_threshold_mbps: 4 # only remove torrents below this upload rate (in Mbps)

trackers:
  aither:
    label: aither
    url: aither.cc
    enabled: true
    download_slots: 25
    requirements:
      - min_seed_hours: 120
    storage_cap_gb: 300
  torrentleech:
    label: tl
    url: tracker.torrentleech.org
    enabled: true
    requirements:
      - min_seed_hours: 192
      - min_seed_ratio: 1
    storage_cap_gb: 200
  myanonamouse:
    label: mam
    url: t.myanonamouse.net
    enabled: false
    requirements:
      - min_seed_hours: 72
    unsatisfied_cap: 100
    storage_cap_gb: 100
